<%- include ("./partials/header") %>

<div class="ui main text container segment">
    <div class="ui huge header"> About Developer! </div>
    <div class="description">
        <p style="text-align: center;">Hi, My Name is <b><u>Ayush Naithani</u></b>, I am an engineering student. 
            The purpose of developing this website is to show how to use <b>Application programming interface (API).
                MTS Search stands for Movies and TV shows Search.</b> Using this application you can search your favourite TV shows and movies for there ratings, 
                collection and information. </p>
        
        <p style="text-align: center;"> <b> API Used: OMDB (Open Movies DataBase) </b> </p>

        <p><em> <u>My other Works : </u> </em>
            <ul>
                <li>
                    TravelTale : <a href="https://travel-tale.herokuapp.com/" target="_blank" rel="noopener noreferrer"> Visit Now </a>
                </li>
                <li>
                    RGB color Game: <a href="https://immense-hollows-21205.herokuapp.com/" target="_blank" rel="noopener noreferrer"> Visit Now</a>
                </li>
            </ul>
        </p>
        
        <h2 style="text-align: center;"> Thank you for your time ..</h2>
    </div>
</div>


<%- include ("./partials/footer") %>